<div class="container">
    <div class="row center-align"><span class="flow-text"></span>
        <article class="card post">
            <div class="card-title title">
                <a href="/dashboard/edit/{{id}}" class="black-text">{{title}}</a>
            </div>
            <div>
                <img class="card_image z-depth-1" src="{{{image.img_url}}}">
            </div>


            <div class="card-content meta">
                <a class="waves-effect blue-theme btn upvote-btn" id="post" data-post={{id}}><i
                        class="tiny material-icons" data-post={{id}}>thumb_up</i></a>
                {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on
                {{format_date created_at}}
                |
                <a href="/post/{{id}}" id="user" data-user={{user.id}}>{{comments.length}} {{format_plural "comment"
                    comments.length}}</a>

            </div>

        </article>
    </div>
</div>