<div class="container">
    <div class="col l8 m6 s12 offset-s3 item"><span class="flow-text"></span>
        <div class="col l3 m10 s12">
            <article class="post">
                <div class="title">
                    <a href="/dashboard/edit/{{id}}" class="black-text">{{title}}</a>

                </div>

                <div>
                    <img class="card_image z-depth-1" src="{{{image.img_url}}}">
                </div>
                <div class="meta">
                    <a class="waves-effect blue-theme btn"><i class="upvote-btn tiny material-icons">thumb_up</i></a>
                    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on
                    {{format_date created_at}}
                    |
                    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment"
                        comments.length}}</a>

                </div>
            </article>
        </div>
    </div>
</div>