<div class="container">
    <div class="col l12 m8 s6 offset-s3"><span class="flow-text"></span>
        <div class="card col s6">
            {{!-- {{posts as |post|}} --}}
            <article>
                <h2>
                    Edit Meme
                </h2>
                {{> post-info post }}
                <form class="edit-post-form">
                    <div>
                        <span>Title</span>
                        <input placeholder="Meme Title" name="post-title" type="text" value="{{post.title}}" />

                    </div>
                    <div>
                        {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on
                        {{format_date post.created_at}}
                        |
                        <a href="/api/posts/{{post.id}}">{{post.comments.length}}
                            {{format_plural "comment" post.comments.length}}</a>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit"><i
                            class="material-icons">save</i>Save</button>
                    <button type="button" class="btn waves-effect waves-light delete-post-btn"><i
                            class="material-icons">delete</i></button>
                </form>
            </article>
            {{!-- <form class="comment-form">
                <div>
                    <textarea name="comment-body"></textarea>
                </div>

                <div>
                    <button class="btn waves-effect waves-light" type="submit">add comment</button>
                </div>
            </form> --}}

            {{> comments post.comments }}
        </div>
    </div>
</div>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>